* {
    font-size: 1em;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:rgb(0, 0, 80);
    list-style: none;
}

html{
    margin: 0;
    overflow-x: hidden;
    scroll-behavior: smooth;
    background-color: white;
}
body{
    margin:40px;
    padding:0;
    background-color:white;
}
nav{
    color:white;
    z-index: 5;
    position: fixed;
    margin: 0;
    top: 0;
    left: 0;
    background-color: rgb(47, 83, 241);
    width: 100%;
    height: 90px;
    display: flex;
    gap: 10px;
    transition: 0.3s;
}
nav a{
    text-decoration: none;
}
 .placment{
    display: flex;
    position: absolute;
    float: left;
    z-index: 4;
    gap: 10px;
    top: 90px;
    left: 0;
    width: 100vw;
    height: 40px;
    color:white;
    background-color: rgb(15, 44, 170);
}
hr{
    height: 50%;
}
.placment .p{
    gap: 10px;
    display: flex;
    margin: 10 20;
    color: white;
}
.logo{
    display: flex;

    font-size: 1.5em;
    margin: 0;
    padding: 25px 30px;
    gap:10px;
        width: 15%;
}
.logo .ie{
    color: rgb(229, 239, 248);
    font-family:lobster,Georgia, 'Times New Roman', Times, serif;
}
.it {
    display: grid;
    color:white;
    margin: 25px 10px;
    padding: 5px  15px;
    border-radius: 30px;
    width: max-content;
}
.ok{   
    border-radius: 30px;
    padding: 5px ;
    margin: 25px 10px;
    color: black;
    width: 100%;
    border: none;
}
.oek{
    width: 40%;
    display: flex;
}
.fa-digital-ocean{
    color: rgb(255, 255, 75);
}
.fofo{
    position:relative;
    top:31px;
    right: 40px;
    border-radius: 50%;
    border:none;
    background-color: yellow;
    height: 20px;
    width: 20px;
}
.fa-magnifying-glass{
    padding: 6px;
}
.list{
    display: none;
    margin: 0;
    position: fixed;
    z-index: 5;
    top: 90px;
    left: 20%;
    height: 340px;
    width: 25%;
    overflow: auto;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    overflow:auto;
}
.i{ 
    
    margin: auto;
    padding: 10px 40px ;
    font-family:'Times New Roman', Times, serif;
    font-size: 1.1em;
    background-color:white;
    height: 20px;
    
}
.i:hover {
    background-color: rgba(3, 161, 253,0.19);
    border-left: 2px solid blue;
}
.it:hover{
    background-color: rgb(36, 3, 112);
    
}

.list2{
    display: none;   
}
.arr{
    margin: -20px 0;
    display: none;
    position: absolute;
    right:10px;
}
.a ,.b ,.c,.d,.e,.f{
    display:none;
    margin: 0;
    position: fixed;
    z-index: 5;
    top: 90px;
    left: 45%;
    height: 340px;
    width: 40%;
    overflow: auto;
    background-color:rgb(177, 217, 250);;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    overflow:hidden auto; 
    grid-template-columns:repeat(3,33%); 
}
.sign{
    color:white;
     text-align: center;
     font-size: 0.7em;
}
.cart{
    text-align: center;
    width: 50%;
    top: 0;
    border-radius: 50%;
    background-color: rgb(251, 255, 0);
}
.mainS{
    display: none;
    row-gap: 15px;
    margin: 0;
    padding: 20px;
    position: fixed;
    z-index: 5;
    top: 90px;
    right:120;
    height: 180px;
    width: 160px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    border-radius: 0 0 10px 10px ;
}
.mainS button{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    color: white;
    width: 90%;
    height: 40px;
    border-radius: 30px;
    border: none;
    background-color: rgb(47, 83, 241);
}
.mainS button:hover{
    background-color: rgb(10, 5, 2);
}

.order{
    display: none;
    row-gap: 15px;
    margin: 0;
    padding: 20px;
    position: fixed;
    z-index: 5;
    top: 90px;
    right:240;
    height: 160px;
    width: 120px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    border-radius: 0 0 10px 10px ;
}
.order a{
    display: flex;
    gap: 10px;
    text-decoration: none;
}
.order a:hover{
    text-decoration: underline;
}

.Carter{
    text-align: center;
    display: grid;
    z-index: 6;
    margin: 0;
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    min-width: 30%;
    
    background-color: rgb(255,255,255);
    background-image: url("image/cart.PNG") ;
    background-repeat: no-repeat;
    background-position: 80px 100px;
    
}
.mod{
        display: none;
        position: fixed; 
        z-index: 6; 
        left: 0;
        top: 0;
        width: 100%; 
        height: 100%; 
        overflow: auto; 
        background-color: rgba(0,0,0,0.4); 
      }
.Carter header{
    color:white;
    margin: 0;
    top: 0;
    right: 0;
    background-color: rgb(47, 83, 241);
    width: 100%;
    height: 90px;
    max-height: 90px;
    display: flex;
    gap: 10px;
}
.Carter header h3{
    color: white;
    padding: 10 30;
    
    font-size: 1.4em;
}
.Carter header .fof{
    color: white;
    text-decoration: none;
    position: fixed;
    padding: 35;
    right: 0;
    font-size: 1.4em;
}
.Carter header .fof:hover{
    color:black;

}
.Carter button{
    border-radius: 30px;
    color:black;
    width: max-content;
    border: 1px solid black;
    background-color: white;
    height: 30px;
}

.Carter .bod{
margin: 25px 45px;
    display: grid;
row-gap: 20px ;
grid-template-columns:repeat(2,40%); }
.Carter button:hover{

    border: 3px solid black;
}
nav .demi,#all{
    display: none;
}

.list .arr{
    display: none;
}


@media (max-width: 800px){
   
    .Categorie , .panel ,.item{
        display: none;
    }
    nav {
        gap:20px;
    }
    nav .demi{
        display: block;
        color: white;
        position:fixed;
        padding:30px 0; 
        right: 20px;
        font-size: 2em;
    }
    .list{
        left: 0;
        width: 35%;    
    }
    
.a ,.b ,.c,.d,.e,.f{
    left: 35%;
    width: 50%;
    grid-template-columns:repeat(2,50%); 

}

.mainS{
    left:40%;
    width: 160px;
}

.order{
    left:25%;
    width: 120px;
}
.list .arr{
    display: none;
}

}


@media (max-width: 500px){
    body{
        margin: 0;
        padding: auto;
    }
    
.Logo .ie,nav .demi{
    display: none;
}
.fa-digital-ocean{
    height: 50px;
    width: 50px;
    padding: 30px 20px;
}
nav #all{
    display: block;
    color: white;
    padding:30px 0 0 30; 
    font-size: 2em;
}
nav{
    gap: 0;
}
nav .Logo{   padding:0;
}
nav .oek{
    min-width:50%;
}
nav .ok{
    padding: 5px ;
    margin:25px 0 25px 0;
  
}
.side{
    display: grid;
    position: fixed;
    z-index: 5;    
    background-color: white;
    left: -90%;

    top: 0;
    margin: 0;
    height: 100%;
    width: 85%;
    box-shadow: 0 10px 15px 0 rgba(0,0,0,0.4),0 10px 25px 0 rgba(0,0,0,0.4);
    overflow:scroll;
    transition: 0.3s;}

.mainS{
    position: absolute;
    display: grid;
    grid-template-columns: repeat(2,50%);
    width: 80%;
    height: 25%;
    left: 10px;
    top: 10px;
    border-radius: 0;
    border-bottom: 1px solid ;
    box-shadow:0 0 0 0;
}

.order{
    position: absolute;
    display: grid;
    width: 80%;
    height: 25%;
    left: 10px;
    top: 35%;
    border-radius: 0;
    border-bottom: 1px solid ;
    box-shadow:0 0 0 0;
}

.Catee{

    position: absolute;
    display: grid;
    width: 90%;
    height: fit-content;
    left: 10px;
    top: 70%;
    border-radius: 0;
    box-shadow:0 0 0 0;
}

.list{
    display: grid;
    margin: 0;
    position: relative;
    z-index: 5;
    margin: 0;
    top: 0;
    left: 0;
    height: fit-content;
    width: 100%;
    background-color: white;
    box-shadow:0 0 0 0;
}
.Catee .list .i {
    width: 74%;
    text-align: left;
    border-bottom: none;
}
.list .arr{
    display: block
}




.list2{
    display: block;   
}
.a ,.b ,.c,.d,.e,.f{
    display:none;
    position: absolute; 
    grid-template-columns:repeat(1,100%); 
    overflow: auto;
    text-align: center;
    top: 0;
    left: 20%;
    height: 100%;
    width: 80%;
    box-shadow:0 6px 12px  black;
}

.i {
    display: none;
}
.as{
    display: block;
}

}



