main{
    display: grid;
    height: max-content;
    position: relative;
    row-gap: 20px;
    top: 100px;

}


.slide{
    display: flex;
    width:100%;
    position: relative;
    height: 70vh;
    border-radius:15px;
}
.first{
    display: none;
    width:100%;
    height: 100%;
}
.first img{
    width: 100%; height: 100%;
    border-radius:15px;
}
.first .picat{
    position: absolute;
    top: 0;
    left: 0;
    height: 95%;
    width: 39.5%;
    background-color: rgba(79, 151, 214, 0.8);
    border-radius:15px 0 80% 15px;
    padding: 20px 0 0 20px;
    display: grid;
}
.picat h2{
    color: aliceblue;
    font-family:"Sofia",Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1.6em;
}

.picat button{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    color: black;
    width: 40%;
    min-width: 40%;
    height: 40px;
    border-radius: 30px;
    border: none;
    background-color:aliceblue;
}
.picat p{
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.2em;
    color: aliceblue;
    padding: 0 50px 0 50px;
}
.picat button:hover{
    color:aliceblue;
    background-color: black;
    border: 1px solid aliceblue;
}


.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }

  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  .prev:hover, .next:hover {
    background-color: #f1f1f1;
    color: black;
  }

  @media (max-width: 500px){
    .picat p{
        padding:0;
    }    
    .first .picat{
        height: 95%;
        width: 60.5%;
    }
       
  }

.freeship{
    display: flex;
    justify-content: center;
    gap: 10px;
    margin: 0;
    max-width: 100%;
    min-height: 40px;
    height: max-content;
    background-color: rgb(29, 101, 255);
    border-radius: 30px;
    box-shadow: inset 40px 0 10px 0 yellow;
}
.freeship p,.freeship a {
    color: aliceblue;

}
.freeship a ,.sell a{
    padding-top: 15px;
}

.sell{
    margin: 0;
    display: grid;
    max-width:100%;
    position: relative;
    min-height: 60vh;
    border-radius:15px;
    grid-template-areas:
    "selle1 selle3 selle4"
    "selle2 selle3 selle4"
    ;
}
.sell1{
    grid-area: selle1;
    display: flex;
    justify-content: space-between;
    height: 30%;
}
.sell1 button{
    margin-top: 15px;
    right: 5px;
    border: 1px solid rgb(63, 59, 59);
    background-color: aliceblue;
    border-radius: 30px;
    width: 100px;
    height: 40px;
}
.sell1 button:hover{
    border: 3px solid rgb(63, 59, 59);

}
.sell2{
    grid-area: selle2;
    height: 70%;
    display: grid;
    grid-template-areas:
"h2 a"
"item item";
}
.sell h2{
    font-family:"Sofia",Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   font-size: 1.3em;
}
.sell3,.sell4,.sell1,.sell2{
    margin: 15px;
    padding: 5 20px;
    box-shadow:2px 2px 10px  rgba(0, 0, 0, 0.349);
    border-radius: 10px;
}
.sell3{
    grid-area: selle3;

}
.sell4{
    grid-area: selle4;

}
.sell2  >a{
text-align: end;
}
.sell2items{
    margin-left: 10%;
    grid-area:item;
    gap:10px;
    width:80%;
    display: flex;
    justify-content: space-between;
}
.sell2items i{
    background-color: rgb(198, 212, 255);
    color: rgb(15, 139, 255);
    height: 70px;
    width: 70px;
    padding:25px 15 0 ; 
    font-size: 3em;
    border-radius: 50%;
}

.sell2items a{
display: flex;
flex-direction: column;
text-align: center;
text-decoration: none;
font-family: Arial, Helvetica, sans-serif;
}

.sell4items{
    display: grid;
    grid-template-areas: "1 2"
    "3 4";
}
.sell4items img{
    background-color: rgb(198, 212, 255);
    height: 100px;
    width: auto;
    border-radius: 50%;
}




.yourcart{
margin: 15px;
    display: flex;
    flex-direction: column;
    position: relative;
    min-height: 70vh;
  width: 98%;
    border-radius: 10px;
    box-shadow:2px 2px 10px  rgba(0, 0, 0, 0.349);
}
.yourcart h2{
    text-align: center;
}
.bbob{
    overflow: hidden;
    padding-left: 3%;
    margin: auto;
    display: flex;
    gap: 5%;
    height: 90%;
    width: 97%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.echri{
    position: relative;
    width: 15%;
    min-width: 15%;
    
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.echri img{
    position: relative;
    width: 100%;
    height: 50%;
}
.echri button{
    font-family: 'Courier New', Courier, monospace;
    color: white;
    text-align: center;
    position: absolute;
    top: 40%;
    left: 10%;
    border-radius: 30px;
    
    width: 80px;
    min-width: 80px;
    height: 40px;
    background-color: rgb(47, 83, 241);
    border:none;
}
.echri button:hover{
    background-color: rgb(0, 30, 163);

    font-size: 1.3em;
    }
.prix{
    display: flex;
    gap: 10px;
}
.prix .h4{
    color: rgb(107, 96, 96);

}
.echri p{
    height: 20%;
    max-height: 20%;
    
  overflow: hidden;
  text-overflow: ellipsis; 
}
.itc{
    background-color: black;
    color: white;
}


footer{
    position:relative;
    bottom: 0;
    margin: -40px;
    width: 100vw;
    height: 60%;
    display: flex;
    flex-direction: column;
}
.ous {
    padding-top: 15px;
    text-align: center;
    width: 100%;
    background-color: rgb(181, 210, 247);
    height: 44%;
}
.ous button{
    min-width: 200px;
    min-height: 40px;
    border-radius: 30px;
    border: 1px solid black;
    background-color: aliceblue;
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}
.ous button:hover{
    border:2px solid black;
}
.nous{
    width: 100%;
    height: 56%;
    background-color: rgb(47, 83, 241);
}
.nnous{
    text-align: center;
    width: 80%;
    margin-left: 15%;
    margin-top: 25px;
}
.nnous a {
    margin-left: 20px;
    text-decoration: none;
    color: white;
    font-size: 1.0em;
}











@media (max-width: 500px){
    
.sell{
    width: 100vw;
    gap:30px;
    grid-template-areas:
    "selle1"
    "selle2"
    "selle3"
    "selle4";
}
    
.sell2items{
    margin-left: 0;
    max-width:80vw;
}

.sell4items img{
    max-width: 40vw;
}

.itc{
    display: none;
}

    
.yourcart{
    height: 40vh;
    max-height: 40vh;
    width: 94vw;
    }
.bbob{
    overflow: auto;
    height: 95%;
    width: 97%;
}
.echri{    width: 30%;
    min-width: 30%;
    height: 95%}
    
.echri button:hover{
    background-color: rgb(0, 30, 163);

    font-size: 1.3em;
    }
.prix{
    display: flex;
    gap: 10px;
}
.prix .h4{
    color: rgb(107, 96, 96);

}
.echri p{
    height: 20%;
    max-height: 20%;
    
  overflow: hidden;
  text-overflow: ellipsis; 
}
}








